h1 {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(linear), color-stop(100%, 50%), color-stop(0%, 50%), color-stop(color-stop(0%, #dad298)), to(color-stop(100%, #b0dab8)));
  background-image: linear-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dad298), color-stop(100%, #b0dab8));
  background-image: -webkit-gradient(linear, right top, left top, from(#dad298), to(#b0dab8));
  background-image: linear-gradient(to left, #dad298, #b0dab8);
}

main {
  max-height: 1120px;
}

main div.container {
  margin: 20px auto;
  width: 60%;
}

main div.container div#tasks {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 30px;
}

main div.container div#tasks div.row_in_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  margin: 2px;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 64px;
}

main div.container div#tasks div.row_in_table button[class="remove"] {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background: url("../icons/icons8-cancel-64.png");
  background-size: cover;
  outline: none;
}

main div.container div#tasks div.row_in_table button[class="mark_as_done"] {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background: url("../icons/icons8-checkmark-64.png");
  background-size: cover;
}

main div.container div#tasks div.row_in_table button[class="mark_as_done"]:active {
  background-color: #000;
}

main div.container div#tasks div.row_in_table:nth-child(odd) {
  background-color: #e1e1e1;
}

main div.container div#tasks div.row_in_table:hover {
  background-color: #ffe6e6;
}

main div.container div#tasks div.row_in_table div:nth-child(1) {
  -ms-flex-preferred-size: 2%;
      flex-basis: 2%;
  text-align: center;
}

main div.container div#tasks div.row_in_table div:nth-child(2) {
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
  padding-left: 20px;
}

main div.container div#tasks div.row_in_table div:nth-child(3) {
  white-space: nowrap;
}

form {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  border: 1px dotted black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

form div {
  width: 100%;
}

form input[name="form-task"] {
  padding-right: 12px;
  font-size: 22px;
  padding-left: 10px;
  width: 80%;
  border: 1px dotted #000;
  border-radius: 10px;
  background-color: transparent;
}

form input[name="form-task"]:focus {
  outline: none;
  border-color: rgba(102, 175, 233, 0.9);
  -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 110, 255, 0.75), 3px 3px 5px 0px rgba(0, 110, 255, 0.75), 3px -3px 5px 0px rgba(0, 110, 255, 0.75), -3px 3px 5px 0px rgba(0, 110, 255, 0.75);
          box-shadow: -3px -3px 5px 0px rgba(0, 110, 255, 0.75), 3px 3px 5px 0px rgba(0, 110, 255, 0.75), 3px -3px 5px 0px rgba(0, 110, 255, 0.75), -3px 3px 5px 0px rgba(0, 110, 255, 0.75);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cbcb10), to(#e0e421));
  background-image: linear-gradient(to top, #cbcb10, #e0e421);
}

form input[type="submit"] {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: url("../icons/icons8-plus.svg") no-repeat;
  text-indent: -1000em;
  width: 64px;
  height: 64px;
  border: none;
  background-size: 100%;
  outline: none;
}

form input[type="submit"]:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
/*# sourceMappingURL=style.css.map */