header {
    form {
        max-width: 40%;

        div {
            position: relative;

            input[name="form-task"] {
                padding-right: 12px;
                font-size: 25px;
                padding-left: 10px;
                width: 80%;

                &:focus {
                    background-color: yellow;
                }
            }

            label {
                position: absolute;
                left: 20px;

            }

            input[name="form-task"]:focus~label,
            input[name="form-task"]:valid~label {
                top: 40px;
                left: 40px;
                background-color: #000;
            }
        }
    }
}