h1 {
    text-align: center;
}

div.pomodoro_div {

    position: fixed;
    background-color: #fff;
    height: 100px;
    width: 30%;
    left: 10px;
    top: 10px;
    opacity: .58;
    border-radius: 20px;

    button.active {
        @include button-reset;
        margin-left: 30px;
        width: 50px;
        height: 50px;
        transform: translateY(10%);
        background: url('../icons/icons8-pause-button-64.png');
        background-size: cover;
        outline: none;


    }

    button.active.pause {
        background: url('../icons/icons8-play-64.png');
    }
}