main {
    max-height: 1120px;

    div.container {
        margin: 20px auto;
        width: 60%;

        div#tasks {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            background-color: rgba($color: #ffffff, $alpha: .5);
            border-radius: 20px;

            padding: 30px;

            div.row_in_table {
                display: flex;
                border: 1px solid black;
                margin: 2px;
                border-radius: 20px;
                padding-left: 10px;
                font-size: 20px;
                line-height: 64px;

                button[class="remove"] {
                    @include button-reset;
                    margin-left: 10px;
                    width: 50px;
                    height: 50px;
                    transform: translateY(10%);
                    background: url('../icons/icons8-cancel-64.png');
                    background-size: cover;
                    outline: none;

                }

                button[class="mark_as_done"] {
                    @include button-reset;
                    margin-left: 10px;
                    width: 50px;
                    height: 50px;
                    transform: translateY(10%);
                    background: url('../icons/icons8-checkmark-64.png');
                    background-size: cover;

                    &:active {
                        background-color: #000;
                    }



                }

                button[class="change_status"] {
                    @include button-reset;
                    margin-left: 10px;
                    width: 50px;
                    height: 50px;
                    transform: translateY(10%);
                    background: url('../icons/icons8-replace-64.png');
                    background-size: cover;

                    &:hover {
                        background-color: #b8e994;
                    }
                }




                &:nth-child(odd) {
                    background-color: #e1e1e1;
                }

                &:hover {
                    background-color: #ffe6e6;

                }

                div {

                    &:nth-child(1) {
                        flex-basis: 2%;
                        text-align: center;
                    }

                    &:nth-child(2) {
                        flex-basis: 63%;
                        padding-left: 20px;

                    }

                    &:nth-child(3) {
                        white-space: nowrap;
                    }



                }
            }
        }
    }

    .burger {
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 50px;
        z-index: 1;
    }

    i.off {
        display: none;
    }

    aside.off {
        right: -300px;

    }

    aside {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        background-color: #000;
        transition: .2s;
    }
}